<div class="navbar">
  <h2>🍕 Flavour Hub</h2>

  <div class="nav-links">
    <a routerLink="/">Menu</a>
    <a routerLink="/cart" class="cart-link">
      Cart 🛒
    </a>
  </div>
</div>

<div class="container">

  <h1>Our Delicious Menu</h1>

  <div *ngIf="loading" class="loading">
    Loading products...
  </div>

  <div class="grid">

    <div class="card" *ngFor="let item of products">

      <img [src]="item.imageUrl" alt="product">

      <div class="content">
        <h3>{{item.name}}</h3>

        <p class="category">{{item.categoryName}}</p>

        <p class="desc">{{item.description}}</p>

        <h4>₹{{item.price}}</h4>

        <button
          (click)="addToCart(item.productId)"
          [disabled]="!item.isAvailable || item.stockQuantity <= 0">

          {{ item.stockQuantity <= 0 ? 'Out of Stock' : 'Add to Cart' }}

        </button>

      </div>

    </div>

  </div>

</div>