<div class="navbar">

  <div class="logo">
    🍕 Flavour Hub
  </div>

  <div class="search-box">
    <input
      type="text"
      placeholder="Search pizza, bread, drinks..."
      [(ngModel)]="searchText"
      (input)="searchProducts()">
  </div>

  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/cart" class="cart-btn">🛒 Cart</a>
  </div>

</div>

<div class="container">

  <h1 class="title">Our Delicious Menu</h1>

  <div class="grid">

    <div class="card" *ngFor="let item of filteredProducts">

      <img [src]="item.imageUrl">

      <div class="content">
        <h3>{{item.name}}</h3>
        <p>{{item.categoryName}}</p>
        <h4>₹{{item.price}}</h4>

        <a [routerLink]="['/product', item.productId]">
          <button class="view-btn">View Details</button>
        </a>

        <button (click)="addToCart(item.productId)">
          Add to Cart
        </button>

      </div>

    </div>

  </div>

</div>