<div class="dashboard">

  <h1>👤 User Dashboard</h1>

  <!-- USER INFO -->
  <div class="card">
    <h2>Profile</h2>
    <p><b>Name:</b> {{ user?.name }}</p>
    <p><b>Email:</b> {{ user?.email }}</p>
  </div>

  <!-- STATS -->
  <div class="stats">
    <div class="box">
      <h3>{{ totalOrders }}</h3>
      <p>Total Orders</p>
    </div>

    <div class="box">
      <h3>₹{{ totalSpent }}</h3>
      <p>Total Spent</p>
    </div>
  </div>

  <!-- ORDERS -->
  <div class="card">
    <h2>My Orders</h2>

    <table>
      <tr>
        <th>Order ID</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Date</th>
      </tr>

      <tr *ngFor="let o of orders">
        <td>#{{ o.orderId }}</td>
        <td>₹{{ o.totalAmount }}</td>
        <td>{{ o.status }}</td>
      </tr>
    </table>
  </div>

</div>